* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #081b29;
}

.container {
  position: relative;
  /* width: 750px;
  height: 450px; */
  width: 80rem;
  height: 50rem;
  background-color: transparent;
  border: 2px solid #0ef;
  box-shadow: 0 0 1.5rem #0ef;
  overflow: hidden;
}

.container .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.7s ease;
}

.container .form-box.hidden {
  opacity: 0;
  transform: translateX(100%);
}

.container .form-box.register.hidden {
  opacity: 0;
  transform: translateX(100%);
}

.container .form-box.login.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

.container .form-box.login {
  left: 0;
  padding: 0 6rem 0 4rem;
  /* display: none; */
}

.container .form-box.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: all 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.container.active .form-box.login .animation {
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--i));
}

.container .form-box.register {
  right: 0;
  top: 1.5rem;
  padding: 0 3rem 0 6rem;
  pointer-events: none;

  /* display: none; */
}

.container.active .form-box.register {
  pointer-events: auto;
}

.container .form-box.register .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition: all 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.container.active .form-box.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}

.form-box h2 {
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 100%;
  height: 5rem;
  /* background-color: #2e8b57; */
  margin: 2.5rem 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  padding-right: 2.5rem;
  transition: all 0.5s;
}

.form-box .input-box small {
  color: #e74c3c;
  font-size: 1rem;
  visibility: hidden;
}

.input-box.error small {
  visibility: visible;
}

.form-box .input-box.success input {
  border-color: #2ecc71;
}

.form-box .input-box.error input {
  border-color: #e74c3c;
}

.input-box input:focus {
  border-bottom-color: #0ef;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.6rem;
  color: #fff;
  pointer-events: none;

  transition: all 0.5s;
}

.input-box input:focus ~ label {
  top: -5px;
  color: #0ef;
}

.input-box input:valid ~ label {
  top: -5px;
  color: #0ef;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: #fff;
  transition: all 0.5s;
}

.input-box input:focus ~ i {
  color: #0ef;
}

.btn {
  position: relative;
  width: 100%;
  height: 4.5rem;
  background-color: transparent;
  border: 2px solid #0ef;
  outline: none;
  border-radius: 4rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
}

.btn::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
  z-index: -1;
  transition: all 0.5s;
}

.btn:hover::before {
  top: 0;
}

.logreg-link {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: 20px 0 10px;
}

.logreg-link p a {
  color: #0ef;
  text-decoration: none;
  font-weight: 600;
}

.logreg-link p a:hover {
  text-decoration: underline;
}

.container .info-text {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  transition: all 0.5s;
}

.container .info-text.login {
  top: -3rem;
  right: 0;
  text-align: right;
  padding: 0 3rem 6rem 10rem;
  /* display: none; */
}

.container .info-text.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: all 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.container.active .info-text.login .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--i));
}

.container .info-text.register {
  top: -3rem;
  left: 0;
  text-align: left;
  padding: 0 10rem 6rem 3rem;
  pointer-events: none;
  /* display: none; */
}

.container.active .info-text.register {
  pointer-events: auto;
}

.container .info-text.register .animation {
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition: all 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.container.active .info-text.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}

.info-text h2 {
  font-size: 3.6rem;
  text-transform: uppercase;
  line-height: 1.3;
  color: #081b29;
}

.info-text p {
  font-size: 1.6rem;
  color: #fff;
}

.container .bg-animate {
  position: absolute;
  top: -4px;
  right: 0;
  width: 85rem;
  height: 60rem;
  background: linear-gradient(45deg, #081b29, #0ef);
  border-bottom: 3px solid #0ef;
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;

  transition: all 1.5s ease;
  transition-delay: 1.6s;
}

.container.active .bg-animate {
  transform: rotate(0) skewY(0);
  transition-delay: 0.5s;
}

.container .bg-animate2 {
  position: absolute;
  top: 100%;
  left: 25rem;
  width: 85rem;
  height: 70rem;
  background: #081b29;
  border-top: 3px solid #0ef;
  transform: rotate(0) skewY(0);
  transform-origin: bottom left;

  transition: all 1.5s ease;
  transition-delay: 0.5s;
}

.container.active .bg-animate2 {
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 1.2s;
}
